@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

   *{
      margin:  0;
      padding: 0;
      box-sizing: border-box;
      text-transform: 'Poppins', sans-serif;
      text-decoration: none;
      list-style: center;
      font-family: 'Poppins', sans-serif;
   }


   body { 
      background-image: url("../imagenes/transparente.jpg"); 
      width: 100%; 
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      }
   .contenedor-form{
         display:block;
         padding: 10px;
         color: #000;
         background:rgb(204, 127, 255) ;
         box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
      }
   .contenedor-select {
      text-align:center;
      
   }

   input {
         font:
         2em "typewriter",
         sans-serif;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 0 auto;
         font-family: 'Poppins', sans-serif
    }
 
   label {
         font:1em "typewriter",
         sans-serif;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 0 auto;
         font-family: 'Poppins', sans-serif;
    }
 
   select {
         margin-bottom: 10px;
         margin-top: 10px;
         outline: 0;
         background: #731280;
         color: #fff;
         border: 1px solid crimson;
         padding: 4px;
         border-radius: 9px
      

         
   }
   


  

  
 
