@font-face {
    font-family: Estilo5;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}
.footer-container {
    background-color: pink; /* Fondo para todo el pie de página */
  }
.footer section{
    width: 45%;
    height: 70%;
}
.footer .footer-logo {
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center ;
    justify-content: left;
}
.footer .footer-logo img{
    width: 60%;
    height: 50%;
}

.footer-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
   
}
.item-footer{
    width: 30%;
    box-sizing: border-box;

}
.item-footerfirst{
    padding-right: 20px;
}
.item-footerfirst li{
    text-align: right;
    
}
.item-footersecond{
    padding-right: 10px;
}
.item-footersecond li{
    text-align:justify;
    
}
.parte-div-2{
    width: 40%;
    height: 100%;
    background-color: white;
    
}
.parte-div{
    width: 50%;
    height: 100%;
    background-color:#c5dbf1fe;
}
.item-footer li{
    height: 100%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    
}
.item-footer li a {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    font-family: Estilo5;
    padding-top: 5px;
    font-size: 5px;

}
.footer-derechos{
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
   
}
.container-derechos{
    width: 100%;
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
    height: 100%;
    font-family:Estilo5;
    font-size: 15px;
    
}
.container-derechos p{
    padding-top: 6px;
}
.container-derechos p:last-of-type{
    text-transform: uppercase;
    font-size: 10px ;
    padding-top: 6px;
}
  .social-media-container {
    position: absolute;
    bottom: 400px; /* Distancia desde la parte inferior */
    right: 10px; /* Distancia desde la parte derecha */
    display: flex;
    justify-content: flex-end; /* Alinea las imágenes a la derecha */
    align-items: flex-end; /* Alinea las imágenes en la esquina inferior */
  }
  
  /* Estilo para las imágenes de redes sociales */
  .social-media img {
    width: 60px; /* Ancho de las imágenes */
    height: 60px; /* Alto de las imágenes */
    margin-right: 10px; /* Espacio entre las imágenes */
  }
