@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-transform: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: center;
    font-family: 'Poppins', sans-serif;
 }

 body{
    background-image: url(../imagenes/transparente.jpg);  
    width: 100%; 
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
 }
.mediana{
        width: 200px;
        height: auto;
        transform: rotate(360deg);
       -webkit-transform: rotate(360deg);
}
.Ajolote{
    width: 500;
    height: auto;
    background-image: auto;
    position: relative;

}
 header{    
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: auto;
 }
 .container{
    max-width: 1100px;
    margin: auto;

 }

 .menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    justify-content: space-between;
    
 }
/*
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #000000;   
}
*/
/*
.navbar ul{
    display: inline-block;
    padding: #000000;
}
*/
.menu .navbar ul li a:hover{

    color: #152a33;
}

.menu{
    display: none;
    width: 25px;
}
.menu{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    display: flex;
}
.content{
    padding: 40px 40px 0px 0px;
}
.content{
    color: #000000;
    font-size: 35px;
    /*text-transform: uppercase;*/
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
.content p{
    margin-top: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 40%;
    line-height: 35px;
}

.btn-1{

    display: inline-block;
    background-color: rgba(23, 23, 31, 0.3);
    border: 1px solid #1c1d20;
    margin: 35px 50px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;
}
.btn-1:hover{
    color: #a4b4bb;
}
.services{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.service{
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(135, 141, 214, 0.3);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.service img{
    margin-top: -50px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.service h3{
    font-size: 20px;
    color: #0e0e0e;
    margin-bottom: 10px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.service p{
    color: #525254;
    font-size: 16px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.porfolios{
    padding: 100px;
    text-align: center;
    color: #ff0000;
}
.porfolio{
    display: flex;
    align-items: center;
}
.porfolio h2{
    font-size: 55px;
}
.porfolio img{
    width: 10vh;
}
.portafolio-1{
    text-align: left;
    margin-left: 100px;
}
.portafolio-1 h3{
    font-size: 35px;
    margin-bottom: 15px;
}
.portafolio-1 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}
.porfolio-2{
    text-align: left;
    margin-right: 100px;
}
.porfolio-2h3{
    font-size: 35px;
    margin-bottom: 15px;
}
.porfolio-1 p{
    font-size: 18px;
    color: #1f1f7c;
    margin-bottom: 25px;
}
.info-content{
    text-align: center;
    border: #525254;
    padding: 40px;
    box-shadow: #f5f5f5;
    
}
.Ajolote:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #0e0e0e;
    -webkit-box-shadow: 0px 0px 15px 15px #510664;
    transform: rotate(360deg);
    
    }
.info .info-content h2 p{
    background:#000000;
    color:#000000;

}
.service:hover{
    box-shadow: 0px 0px 15px 15px #0e0e0e;
    -webkit-box-shadow: 0px 0px 15px 15px #510664;
    transform: rotate(360deg);
    
}